* {
  font-family: "Segoe UI";
  color: white;
}

body {
  background: black;
  margin: 0;
}

.Page {
  background-color: black;
  background-image: url(photos/cup-2619216_1920.jpg);
  background-size: cover;
  background-position: center;
  overflow-y: scroll;
}

.navbarContainer {
  padding: 20px;
}

.logo {
  width: 80px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navigations {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 100px;
  margin-right: 100px;
}

.navigations a {
  font-size: x-large;
  text-decoration: none;
}

.navigations a:hover {
  border-bottom-style: solid;
  border-width: 2px;
  border-color: rgb(255, 0, 0);
  color: rgb(255, 0, 0);
}

.profile {
  justify-content: space-evenly;
  display: flex;
  flex-direction: row;
  padding: 30px;
}

.profilePicture {
  height: 500px;
  border-style: double;
  border-width: 5px;
}

.name {
  font-size: larger;
  color: rgb(255, 0, 0);
}

.greet {
  font-size: 40px;
  color: antiquewhite;
}

.work {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 100;
}

.about {
  margin-top: 50px;
}
.penguinImg {
  width: 300px;
}

.col1 {
  display: flex;
  justify-content: space-evenly;
}
